@font-face {
  font-family: "ostrich_sansblack";
  src: url("../webfontkit-20190809-101721/ostrich-sans-black-webfont.eot");
  src: url("../webfontkit-20190809-101721/ostrich-sans-black-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../webfontkit-20190809-101721/ostrich-sans-black-webfont.woff2")
      format("woff2"),
    url("../webfontkit-20190809-101721/ostrich-sans-black-webfont.woff")
      format("woff"),
    url("../webfontkit-20190809-101721/ostrich-sans-black-webfont.ttf")
      format("truetype"),
    url("../webfontkit-20190809-101721/ostrich-sans-black-webfont.svg")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
.auto-fit {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}
body {
  font-family: "Arial", "ostrich_sansblack", Georgia, "Times New Roman", Times,
    serif;
  color: #001f27;
}
header {
  text-align: center;
  color: rgba(0, 0, 0);
}
ul {
  list-style-type: none;
  text-align: left;
}
.list-title {
  text-align: left;
  color: white;
}
.all-list-title,
.list {
  border: 1px solid greenyellow;
  box-sizing: border-box;
  width: 500px;
  margin-right: 5px;
  border-radius: 15px;
  padding-left: 5px;
  line-height: 1.7em;
  margin-bottom: 5px;
  text-align: left;
  background-color: #005c72;
  color: white;
}
button {
  box-align: left;
  font-size: 15px;
  margin: 10px auto;
}
html {
  padding-top: 25px;
  font-size: 1.2em;
}
footer.page {
  font-family: system-ui;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  background-color: white;
  position: relative;
  padding: 0px 5px 10px 5px;
  right: 5px;
  width: 260px;
  border-radius: 1em;
  font-size: x-small;
  margin-left: 5px;
  color: black;
}
.task-count {
  color: white;
  text-align: left;
}

.task-title {
  color: white;
  padding: 5px;
}

form {
  display: inline;
}
.item-btn,
.list-btn {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  border-radius: 10px;
  border-width: 2px;
  border-color: greenyellow;
  font-size: 0.6em;
  margin-left: 10px;
  background-color: greenyellow;
}
.delete.btn {
  /* color: orange; */
  background-color: transparent;
  border: none;
  color: greenyellow;
}
.delete.btn:active {
  color: white;
  transition: 1s;
}

.new-list:focus {
  outline: none;
}

.new-list {
  border-radius: 1em;
  font-size: 0.7em;
  padding-left: 10px;
}

.active-list {
  color: greenyellow;
}

input:checked + label {
  text-decoration-line: line-through;
}

footer.delete-items {
  background-color: none;
  border: none;
}
#btn-dark-mode {
  background-color: transparent;
  border: none;
}
/* --------------------------- Dark Mode Styles ---------------- */
.dark-mode {
  background-color: rgb(47, 62, 66);
}
.dark-mode #btn-dark-mode {
  background-color: transparent;
  border: none;
  color: white;
}

.dark-mode h1 {
  color: #fff;
}

.dark-mode .list-btn,
.dark-mode .item-btn {
  border-color: #adff2f;
}
