@font-face {
  font-family: "ostrich_sansblack";
  src: url("../webfontkit-20190809-101721/ostrich-sans-black-webfont.eot");
  src: url("../webfontkit-20190809-101721/ostrich-sans-black-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../webfontkit-20190809-101721/ostrich-sans-black-webfont.woff2")
      format("woff2"),
    url("../webfontkit-20190809-101721/ostrich-sans-black-webfont.woff")
      format("woff"),
    url("../webfontkit-20190809-101721/ostrich-sans-black-webfont.ttf")
      format("truetype"),
    url("../webfontkit-20190809-101721/ostrich-sans-black-webfont.svg")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
.auto-fit {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}
body {
  background-color: rgb(25, 180, 220);
  font-family: "Arial", "ostrich_sansblack", Georgia, "Times New Roman", Times,
    serif;

  /*display: grid;
    grid:
      "header   header      header header" auto
      ".        list-title  list   ." auto /
      1fr minmax(100px, 300px) minmax(250px, 500px) 1fr;*/
}

header {
  /* grid-area: header; */

  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}
ul {
  list-style-type: none;
}
.all-list-title {
  /*grid-area: list-title;*/
  border: 1px solid greenyellow;
  box-sizing: border-box;
  width: 500px;
  margin-right: 5px;
  border-radius: 15px;
  padding-left: 5px;
  line-height: 1.7em;
  margin-bottom: 5px;
}
.list {
  /* grid-area: list; */
  border: 1px solid white;
  box-sizing: border-box;
  width: 500px;
  margin-right: 5px;
  border-radius: 15px;
  padding-left: 5px;
  line-height: 1.7em;
  margin-bottom: 5px;
}
button {
  box-align: left;
  font-size: 15px;
  margin: 10px auto;
}
html {
  padding-top: 25px;
  font-size: 1.2em;
}
footer {
  font-family: system-ui;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  background-color: gray;
  position: relative;
  padding: 0px 5px 10px 5px;
  right: 5px;
  width: 260px;
  border-radius: 1em;
  font-size: x-small;
}
.task-title {
  color: white;
}
form {
  display: inline;
}
.item-btn,
.list-btn {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  border-radius: 10px;
  border-width: 2px;
  border-color: black;
  font-size: 0.6em;
  margin-left: 10px;
  background-color: yellowgreen;
}
.delete.btn {
  /* color: orange; */
  background-color: transparent;
  border: none;
}
.delete.btn:active {
  color: white;
  transition: 1s;
}
/* .delete.btn:hover {
  background-color: yellowgreen;
  color: orange;
} */

.new-list:focus {
  outline: none;
}
.new-items {
  /* font-size: 1em; */
}
.new-list {
  /* border: solid black 2px; */
  border-radius: 1em;
  font-size: 0.7em;
  padding-left: 10px;
}

.active-list {
  color: Black;
}

input:checked + label {
  text-decoration-line: line-through;
}
