header {
  color: yellowgreen !important;
  font-size: 1em;
}
.auto-fit {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(750px, 1fr));
}
body {
  font-size: 3em;
}
.all-list-title {
  width: 100%;
}
.list {
  width: 100%;
}
footer {
  font-size: 0.25em;
}
/* hello rtan*/
