header {
  color: yellowgreen !important;
  font-size: 1.75rem;
  text-align: center;
}
body {
  font-size: 2em;
  background-color: rgb(19, 32, 209);
  width: 100%;
}
.list,
.all-list-title {
  width: 83%;
  color: yellowgreen;
  letter-spacing: 0.25em;
}
footer {
  font-size: 0.25em;
}
.new-list {
  border: solid yellow 5px;
  border-radius: 1em;
  width: 70%;
  font-size: 1em;
  padding-left: 10px;
}
.item-btn,
.list-btn {
  display: inline-block;
  position: relative;
  border-radius: 10px;
  font-size: 0.75em;
  margin-left: -10px;
  bottom: -5px;
  background-color: yellowgreen;
  text-align: center;
}

footer {
  font-size: 0.7em;
  width: 100%;
}
.delete.btn {
  color: red;
}
.delete.btn:focus {
  filter: hue-rotate(180deg);
}
