header {
  color: yellowgreen !important;
  font-size: 1em;
}
.auto-fit {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(750px, 1fr));
}
body {
  font-size: 3em;
  background-color: rgb(19, 32, 209);
}
.all-list-title {
  width: 100%;
  letter-spacing: 0.25em;
}
.list {
  width: 100%;
  color: yellowgreen;
  letter-spacing: 0.25em;
}
footer {
  font-size: 0.25em;
}
.new-list {
  width: 250px;
  height: 70px;
  font-size: 0.55em;
  padding-left: 10px;
  margin-left: 5px;
  margin-bottom: 10px;
}
.item-btn {
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 0.75em;
  padding-left: 10px;
  margin-left: -10px;
  margin-bottom: -10px;
  background-color: red;
}
