html {
  font-family: Georgia, "Times New Roman", Times, serif;
}
body {
  background-image: url(https://scontent-sjc3-1.cdninstagram.com/vp/07bd89e8ae5957176e23a91c1b50afa7/5D758BE1/t51.2885-15/sh0.08/e35/s640x640/13248728_1153806054663779_1739534564_n.jpg?_nc_ht=scontent-sjc3-1.cdninstagram.com);
  background-color: red;
  background-size: cover;
  background-position: center;
}
header {
  background-color: aqua;
  position: relative;
  font-size: 8px;
  margin: 10px auto;
}
ul {
  list-style-type: none;
}

#list {
  border: 1px solid lightskyblue;
  width: 215px;
}
button {
  box-align: left;
  font-size: 15px;
  margin: 10px auto;
}
html {
  padding-top: 25px;
}
footer {
  border: 3px solid black;
  background-color: gray;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.ryan {
  font-size: 12px;
  color: black;
}
