@font-face {
  font-family: "ostrich_sansblack";
  src: url("webfontkit-20190809-101721/ostrich-sans-black-webfont.eot");
  src: url("webfontkit-20190809-101721/ostrich-sans-black-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("webfontkit-20190809-101721/ostrich-sans-black-webfont.woff2")
      format("woff2"),
    url("webfontkit-20190809-101721/ostrich-sans-black-webfont.woff")
      format("woff"),
    url("webfontkit-20190809-101721/ostrich-sans-black-webfont.ttf")
      format("truetype"),
    url("webfontkit-20190809-101721/ostrich-sans-black-webfont.svg")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
html {
  font-family: "ostrich_sansblack", Georgia, "Times New Roman", Times, serif;
}
body {
  background-color: rgb(25, 180, 220);
  display: grid;
  grid:
    "header   header      header header" auto
    ".        list-title  list   ." auto /
    1fr minmax(100px, 300px) minmax(250px, 500px) 1fr;
}

header {
  grid-area: header;
  background-color: aqua;
  margin: 10px auto;
}
ul {
  list-style-type: none;
}
.all-list-title {
  grid-area: list-title;
  border: 1px solid greenyellow;
  margin-right: 5px;
  border-radius: 15px;
}
.list {
  grid-area: list;
  border: 1px solid white;
  border-radius: 15px;
  padding-left: 5px;
}
button {
  box-align: left;
  font-size: 15px;
  margin: 10px auto;
}
html {
  padding-top: 25px;
}
footer {
  border: 3px solid black;
  background-color: gray;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.task-title {
  color: white;
}
